<h1>Display your Pirate here</h1>

Name:
<%= @pirate[:name] %>


 Weight:
<%= @pirate[:weight] %>


 Height:
<%= @pirate[:height] %>

<h2>Display your ships here</h2>
<% @pirate[:ships].each do |ship|%>
Name: <%=ship[:name]%>
Type: <%=ship[:type]%>
Booty: <%=ship[:booty]%>
<%end%>
