<h1>Display your Pirate here: </h1>

  <h3>Name: <%= @pirate.name %></h3>
  <h3>Heigh: <%= @pirate.height %></h3>
  <h3>Weight: <%= @pirate.weight %></h3>

<h2>Display your first ship here: </h2>

    <h3>Name: <%= @name[0] %></h3>
    <h3>Type: <%= @type[0] %></h3>
    <h3>Booty: <%= @booty[0] %></h3>

<h2>Display your second ship here: </h2>

    <h3>Name: <%= @name[1] %></h3>
    <h3>Type: <%= @type[1] %></h3>
    <h3>Booty: <%= @booty[1] %></h3>
