<h1>Display your Pirate here</h1>
<h2>Pirate Name: <%= @pirate.name %></h2>
<h2>Pirate Height: <%= @pirate.height %> </h2>
<h2>Pirate Weight: <%= @pirate.weight %></h2>

<h1>Display your first ship here</h1>
<h2>Ship #1 Name: <%= @pirate.ships[0].name %></h2>
<h2>Ship #1 Type: <%= @pirate.ships[0].type %> </h2>
<h2>Ship #1 Booty: <%= @pirate.ships[0].booty %></h2>

<h1>Display your second ship here</h1>
<h2>Ship #2 Name: <%= @pirate.ships[1].name %></h2>
<h2>Ship #2 Type: <%= @pirate.ships[1].type %> </h2>
<h2>Ship #2 Booty: <%= @pirate.ships[1].booty %></h2>
