<h1>Pirate</h1>
<div>
    <h3><%= @pirate.name %></h3>
    <h4><%= @pirate.weight %></h4>
    <h4><%= @pirate.height %></h4>
</div>

<h2>Ships</h2>
<% @ships.each do |ship| %>
<div>
    <h3><%= ship.name %></h3>
    <h4><%= ship.type %></h4>
    <h4><%= ship.booty %></h4>
</div>
<% end %>