<h1>Pirate</h1>

<p><%= @pirate.name %></p>
<p><%= @pirate.weight %></p>
<p><%= @pirate.height %></p>
<br>

<h1>Ships</h1>
<% @ships.each do |ship| %>
<h4><%= ship.name %></h4>
<p><%= ship.type %></p>
<p><%= ship.booty %></p>
<% end %>