<h1><%= @pirate[:name] %></h1>
<p>Weight: <%= @pirate[:weight] %></p>
<p>Height: <%= @pirate[:height] %></p>

<h2>Ship 1 Name: <%= @pirate[:ships][0][:name] %></h2>
  <p>Weight: <%= @pirate[:ships][0][:type] %></p>
  <p>Height: <%= @pirate[:ships][0][:booty] %></p>

<h2>Ship 2 Name: <%= @pirate[:ships][1][:name] %> </h2>
  <p>Weight: <%= @pirate[:ships][1][:type] %></p>
  <p>Height: <%= @pirate[:ships][1][:booty] %></p>
