<h1>Pirate Information</h1>
<p>Name: <%= @pirate.name %></p>
<p>Weight: <%= @pirate.weight %></p>
<p>Height: <%= @pirate.height %></p>

<h2>Ship 1 Information</h2>
<p>Name: <%= @ships.first.name %></p>
<p>Type: <%= @ships.first.type %></p>
<p>Booty: <%= @ships.first.booty %></p>

<h2>Ship 2 Information</h2>
<p>Name: <%= @ships.last.name %></p>
<p>Type: <%= @ships.last.type %></p>
<p>Booty: <%= @ships.last.booty %></p>
