<h1>Display your Pirate here</h1>

<%= @new_pirate.name %>
<%= @new_pirate.weight %>
<%= @new_pirate.height %>

<% i = 0 %>
<% @ships.each do |ship| %>
<% if i == 0 %>
<% text = "Display your first ship here" %>
<% else %>
<% text = "Display your second ship here" %>
<% end %>

<h2><%= text %></h2>
<%= ship.name %>
<%= ship.type %>
<%= ship.booty %>

<% i = i + 1 %>

<% end %>
