<h1>Your Info:</h1>
Your Name: <%= @pirate.name %><br/>
Your Weight: <%= @pirate.weight %><br/>
Your Height: <%= @pirate.height %><br/>


<h2>Your Ships:</h2>

<ol> 
    <% @ships.each do |ship| %>
        <li>Your Ship's Name: <%= ship.name %></li>
        <li>Your Ship's Type: <%= ship.type %></li> 
        <li>Your Ship's Booty: <%= ship.booty %></li>
    <% end %> 
</ol>
    