<h1>Pirate</h1>
<div class="pirate">
  <h3>Name: <%=@pirate.name%></h3><br>
  <h3>Weight: <%=@pirate.weight%></h3><br>
  <h3>Height: <%=@pirate.height%></h3>
</div><br>


<h1>Ship 1</h1>
<% @ships.each.with_index do |ship, index| %>
  <div class="ship">
    <% if index == 0 %>
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p><br>
    <% end %>
  <% end %>
  </div><br>
  
<h1>Ship 2</h1>
<% @ships.each.with_index do |ship, index| %>
  <div class="ship">
    <% if index == 1 %>
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p><br>
    <% end %>
  <% end %>
  </div><br>

