<h1><%= @pirate.name %></h1>
<h1><%= @pirate.height %></h1>
<h1><%= @pirate.weight %></h1>


<h2><%= @ship_1.name %></h2>
<h2><%= @ship_1.type %></h2>
<h2><%= @ship_1.booty %></h2>

<h2><%= @ship_2.name %></h2>
<h2><%= @ship_2.type %></h2>
<h2><%= @ship_2.booty %></h2>
