<h1>YOUR PIRATE!</h1>

<h2>Name: <%=@pirate[:name]%></h2>
<h2>Weight: <%=@pirate[:weight]%></h2>
<h2>Height: <%=@pirate[:height]%></h2>

<h1>HIS/HER SHIPS!</h1>

<% @ships.each do |key, value| %>
<h2><%= value[:name] %></h2>
<h3>It's a <%= value[:type] %> carrying <%= value[:booty] %>! Argh!</h3>
<% end %>