<h1>Display your Pirate here</h1>
<%= @pirate.name %>
<%= @pirate.height %> 
<%= @pirate.weight %>

<h2>Display your first ship here</h2>
<% @ships.each do |ship_1| %>
  <%= ship_1.name.first %> 
  <%= ship_1.type.first %>
  <%= ship_1.booty.first %>
  

<h2>Display your second ship here</h2>
<% @ships.each do |ship_2| %>
  <%= ship_2.name.last %> 
  <%= ship_2.type.last %>
  <%= ship_2.booty.last %>
