<h1>Pirates!</h1>

<div class="pirates">
  <h3>Name: <%= @pirate.name %></h3>
  <h4>Wight: <%= @pirate.weight %></h4>
  <h4>Height: <%= @pirate.height %></h4>
</div><br>

<% @ships.each.with_index do |ship, index| %>
    <div class="ship_1">
        <h2>Ship <%= index + 1 %></h2>
        <p>Name: <%= ship.name %></p>
        <p>Type: <%= ship.type %></p>
        <p>Booty: <%= ship.booty %></p>
    </div>
<% end %>
