<h1>Display your Pirate here</h1>
Name: <%= @pirate.name%><br>
Weight: <%= @pirate.weight%><br>
Height: <%= @pirate.height%>


<h2>Display your first ship here</h2>
Name: <%= @ships.first.name%><br>
Type: <%= @ships.first.type%><br>
Booty: <%= @ships.first.booty%>
<h2>Display your second ship here</h2>
Name: <%= @ships.last.name%><br>
Type: <%= @ships.last.type%><br>
Booty: <%= @ships.last.booty%>