<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<table>
  <tr>
    <th>Pirate's Name</th>
    <th>Pirate's Height</th>
    <th>Pirates's Weight</th>
  </tr>
  <tr>
    <td><%= @pirate.name %></td>
    <td><%= @pirate.height %></td>
    <td><%= @pirate.weight %></td>
  </tr>
  <tr>
    <th>Ship's Name</td>
    <th>Ship's Type</td>
    <th>Ship's Booty</td>
  </tr>
  <tr>
    <% @ships.each do |ship| %>
    <tr>
    <td><%= ship.name %></td>
    <td><%= ship.type %></td>
    <td><%= ship.booty %></td>
    </tr>
    <% end %>
  </tr>
</table>
