<h1>Pirate</h1>
<section>
    <ul>
        <li>Pirate Name: <%= @pirate.name %></li>
        <li>Weight: <%= @pirate.weight %></li>
        <li>Height: <%= @pirate.height %></li>
    </ul>
</section>

<h2>Ship 1</h2>
<section>
    <ul>
        <li>Name: <%= @ship_1.name %></li>
        <li>Type: <%= @ship_1.type %></li>
        <li>Booty: <%= @ship_1.booty %></li>
    </ul>
</section>


<h2>Ship 2</h2>
<section>
    <ul>
        <li>Name: <%= @ship_2.name %></li>
        <li>Type: <%= @ship_2.type %></li>
        <li>Booty: <%= @ship_2.booty %></li>
    </ul>
</section>