<h1>Pirate Deets Here:</h1>
    <div class="pirate">
        <p>Pirate Name: <%= @pirate.name %>
        <p>Pirate Weight: <%= @pirate.weight %>
        <p>Pirate Height: <%= @pirate.height %>

<h2>First Ship Deets:</h2>
    <p>Name: <%= @ships[0].name%></P>
    <p>Type: <%= @ships[0].type%></P>
    <p>Booty: <%= @ships[0].booty%></P>

<h2>Second Ship Deets:</h2>

    <p>Name: <%= @ships[1].name%></P>
    <p>Type: <%= @ships[1].type%></P>
    <p>Booty: <%= @ships[1].booty%></P>