<h1>Pirate Name: <%=@new_pirate.name%></h1><br><br>
<h2>Height: <%=@new_pirate.height%>  pounds</h2><br><br>
<h2>weight: <%=@new_pirate.weight%> inches</h2><br><br>

<%@ships.each do |ship|%>
    <h1>Ship Name: <%=ship.name%></h1><br><br>
    <h2>Ship Type: <%=ship.type%></h2><br><br>
    <h2>Ship's Booty: <%=ship.booty%></h2><br><br>
<%end%>