
<h1><%= @pirate.name %></h1>
Height: <%= @pirate.weight %>
Weight: <%= @pirate.height %>

<h2><%= @ships[0].name %></h2>
Type: <%= @ships[0].type %>
Booty: <%= @ships[0].booty %>

<h2><%= @ships[1].name %></h2>
Type: <%= @ships[1].type %>
Booty: <%= @ships[1].booty %>
