<h1>Display your Pirate here</h1>
<p>name: </p>
<p>height: <%=pirate.height<%=pirate.name%>%></p>
<p>weight: <%=pirate.weight%></p>

<h2>Display your first ship here</h2>
<% @ships.each do |ship| %>
  <p>Ship Name: <%= ship.name %></p>
  <p>Type: <%= ship.type %></p>
  <p>Booty: <%= ship.booty %></p>
<% end %>
