<h1>Pirates and Ship(s)</h1>

<h2>Pirate</h2>
<p>Name:   <%= @pirate.name %></p>
<p>Weight: <%= @pirate.weight %> pounds</p>
<p>Height: <%= @pirate.height %> inches</p>

<h2>Ship(s)</h2>
<% @ships.each do |ship| %>
  <h2>Name:  <%= ship.name %></h2>
  <p>Type:  <%= ship.type %></p>
  <p>Booty: <%= ship.booty %></p>
  <br/>
<% end %>
