<!doctype html>
<html>
    <head> 
        <title>pirate results</title>
    </head>
    <body>
    <h1>Pirates</h1>
    <p>Pirate Name: <%= @pirate.name%></p> 
    <p>Weight:<%= @pirate.weight%></p>
    <p>Height: <%= @pirate.height%></p>

    <h1>Ships</h1>
    <% @ships.each do |ship| %>
        <p>Name: <%= ship.name %></p>
        <p>Type: <%= ship.type %></p>
        <p>Booty: <%= ship.booty%></p>
    <% end %>
    </body>
</html>