<h1>Pirate name:</h1>
<p><%=@pirate.name%></p>
<p><%=@pirate.weight%></p>
<p><%=@pirate.height%></p>

<h2>First Ship:</h2>
<p>Name: <%= Ship.all[0].name%></p><br>
<p>Type: <%= Ship.all[0].type%></p><br>
<p>Booty: <%=Ship.all[0].booty%></p><br>

<h2>Second Ship:</h2>
<p>Name: <%= Ship.all[1].name%></p><br>
<p>Type: <%= Ship.all[1].type%></p><br>
<p>Booty: <%=Ship.all[1].booty%></p><br>
