<h1>Display your Pirate here</h1>
 
<div id="pirate">
  <h3>Name: <%= @pirate.name %></h3>
  <h4>Weight: <%= @pirate.height %></h4>
  <h4>Height: <%= @pirate.weight %></h4>
</div><br>

<h2>Display your first ship here</h2>
 <div id="ship_1">
    <h3>Name: <%= Ship.all[0].name %></h3>
    <h4>Type: <%= Ship.all[0].type %></h4>
    <h4>Booty: <%= Ship.all[0].booty %></h4>
  </div><br>

<h2>Display your second ship here</h2>
 <div id="ship_2">
    <h3>Name: <%= Ship.all[1].name %></h3>
    <h4>Type: <%= Ship.all[1].type %></h4>
    <h4>Booty: <%= Ship.all[1].booty %></h4>
  </div><br>

