<h1>Display your Pirate here</h1>
<ol>
<li>Pirate name: <%= @pirate.name %></li>
<li>Pirate weight: <%= @pirate.weight %></li>
<li>Pirate height: <%= @pirate.height %></li>
</ol>
<h2>Display your first ship here</h2>
<ol>
<li>Ship 1 name: <%= @ships[0].name %></li>
<li>Ship 1 type: <%= @ships[0].type %></li>
<li>Ship 1 booty: <%= @ships[0].booty %></li>
</ol>
<h2>Display your second ship here</h2>
<ol>
<li>Ship 2 name: <%= @ships[1].name %></li>
<li>Ship 2 type: <%= @ships[1].type %></li>
<li>Ship 2 booty: <%= @ships[1].booty %></li>
</ol>