<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pirate & Ship Info</title>
  </head>
  <body>
    <h1><%= @pirate.name %></h1>
    <p><strong>Height:</strong> <%= @pirate.height %></p>
    <p><strong>Weight:</strong> <%= @pirate.weight %></p>

    <% @ships.each do |ship| %>
    <h2><%= ship.name %></h2>
    <p><strong>Type:</strong> <%= ship.type %></p>
    <p><strong>Booty:</strong> <%= ship.booty %></p>
    <% end %>
  </body>
</html>
