<p>Pirate name: <%= @pirate.name %></p><br>
<p>Pirate weight: <%= @pirate.weight %></p><br>
<p>Pirate height: <%= @pirate.height %></p><br>

<% @ships.each do |ship| %>
    <p>Ship name: <%= ship.name %></p><br>
    <p>Ship type: <%= ship.type %></p><br>
    <p>Ship booty: <%= ship.booty %></p><br>
<% end %>