<h1 style="text-align: center; margin-top: 40px">Pirate Info</h1>

<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Weight: <%= @pirate.weight %></p>
<p>Pirate Height: <%= @pirate.height %></p>

<h2>First Ship</h2>

<p>Ship Name: <%= @ship_one.name %></p>
<p>Ship Type: <%= @ship_one.type %></p>
<p>Ship Booty: <%= @ship_one.booty %></p>

<h2>Second Ship</h2>

<p>Ship Name: <%= @ship_two.name %></p>
<p>Ship Type: <%= @ship_two.type %></p>
<p>Ship Booty: <%= @ship_two.booty %></p>