<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Your details</title>
</head>
<body>

<h2>Pirate information</h2>
<div class="pirate">
    <p>Name: <%= @pirate.name %></p>
    <p>Weight: <%= @pirate.weight %></p>
    <p>Height: <%= @pirate.height %></p><br>
</div>

<h2>Ship 1 details</h2>
<div class="ship">
<% @ships.each_with_index do |ship, i| %>
    <% if i == 0 %>
        <p>Name: <%= ship.name %></p>
        <p>Type: <%= ship.type %></p>
        <p>Booty: <%= ship.booty %></p><br>
    <% end %>
<% end %>
</div>

<h2>Ship 2 details</h2>
<div class="ship">
<% @ships.each_with_index do |ship, i| %>
    <% if i == 1 %>
        <p>Name: <%= ship.name %></p>
        <p>Type: <%= ship.type %></p>
        <p>Booty: <%= ship.booty %></p><br>
    <% end %>
<% end %>
</div>

</body>
</html>