<h1>Display your Pirate here</h1>
<ol>
  <li>Pirate Name: <%= @pirate.name %></li>
  <li>Pirate Weight: <%= @pirate.weight %></li>
  <li>Pirate Height: <%= @pirate.height %></li>
</ol>

<h2>Display your first ship here</h2>
<ol>
  <li>Ship 1 Name: <%= @ships[0].name %></li>
  <li>Ship 1 Type: <%= @ships[0].type %></li>
  <li>Ship 1 Booty: <%= @ships[0].booty %></li>
</ol>

<h2>Display your second ship here</h2>
<ol>
  <li>Ship 2 Name: <%= @ships[1].name %></li>
  <li>Ship 2 Type: <%= @ships[1].type %></li>
  <li>Ship 2 Booty: <%= @ships[1].booty %></li>
</ol>