<h1>Pirate</h1>
<p>name <%= @pirate.name %></p>
<p>height <%= @pirate.height %></p>
<p>weight <%= @pirate.weight %></p>


<h2>Ship one</h2>
<p>name <%= @ship1.name %></p>
<p>type <%= @ship1.type %></p>
<p>booty <%= @ship1.booty %></p>

<h2>Ship two</h2>
<p>name <%= @ship2.name %></p>
<p>type <%= @ship2.type %></p>
<p>booty <%= @ship2.booty %></p>
